.front-top-banner-wrapper {
  color: white;
  padding-top: 120px;
  background-image: url("../img/jpg/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  height: 900px;
  .banner-half-text {
    width: 50%;
    padding-left: 28rem;
    .banner-text-wrapper {
      padding-top: 8rem;
      .banner-top-subtitle {
        letter-spacing: 2.8px;
        font-weight: 500;
      }
      .front-top-title {
        letter-spacing: -2.4px;
        font-size: 80px;
        line-height: 90px;
        font-weight: 600;
      }
      .banner-top-description {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .mockup-wrapper {
    padding-right: 10rem;
    background-image: url("../img/png/mockup.png");
    width: 50%;
    height: 740px;
    background-size: contain;
  }
}

.feature {
  padding: 1rem 0 12rem;
  .feature-item {
    width: 33%;
    .feature-icon {
      padding: 18rem 7rem 1rem;
      background-size: 7rem;
      background-position: 4rem 30%;
      &.bell-icon {
        background-image: url("../img/png/bell-icon.png");
      }
      &.rocket-icon {
        background-image: url("../img/png/rocket-icon.png");
      }
      &.rack-icon {
        background-image: url("../img/png/rack-icon.png");
      }
      &.packman-icon {
        background-image: url("../img/png/packman-icon.png");
      }
      &.wheel-icon {
        background-image: url("../img/png/wheel-icon.png");
      }
      &.second-row {
        background-position: 4rem 15%;
        padding: 13rem 7rem 1rem;
      }
    }
    .feture-description {
      line-height: 26px;
    }
  }
  .custom-choose-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.2px;
    color: $black-title;
  }
}

.page-speed-banner {
  padding: 5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jpg/speed-banner.jpg");
  .banner-wrapper {
    .subtitle-small,
    .section-title,
    .page-speed-form {
      width: 100%;
      text-align: center;
      color: white;
    }
    .section-title {
      margin: 1rem 0;
    }
    .page-speed-form {
      width: auto;
      border-radius: 50px;
      background-color: #e36d16;
      display: inline-block;
      padding: 2rem;
      margin: 5rem 0;
      .url-button {
        min-width: 450px;
      }
    }
  }
}

.what-we-do {
  background-image: url('../img/jpg/triangle-background.jpg');
  padding: 5rem 0 12rem;
  background-size: 100% 520px;
  background-position: bottom center;
  .banner-wrapper {
    .subtitle-small {
      text-align: center;
    }
    .section-title {
      margin: 2rem 0;
    }
    .section-number {
      &::before {
        content: ".03";
      }
    }
  }
  .carts-wrapper {
    margin-top: 5rem;
    .cart-item {
      max-width: 370px;
      margin: 0 3rem;
      padding: 8rem 5.5rem;
      background-color: white;
      border: 2px solid #eaefff;
      &:nth-child(2) {
        box-shadow: 0 16px 32px rgba(208, 204, 255, 0.4);
        border: none;
      }
      .cart-wrapper {
        .cart-title,
        .cart-description {
          width: 100%;
          text-align: center;
        }
        .cart-icon {
          margin-bottom: 2rem;
        }
        .cart-description {
          margin: 3rem 0;
        }
      }
    }
  }
}

.marketing {
  background-color: #202332;
  padding: 4rem 0 12rem;
  .banner-wrapper {
    align-items: flex-end;
    .section-number {
      padding: 8rem 0 1rem;
      &::before {
        content: ".04";
        left: 0;
      }
      .section-title {
        color: white;
        margin: 3rem 0;
      }
    }
  }
}

.faq {
  padding: 4rem 0 12rem;
  .banner-wrapper {
    .section-number {
      padding: 8rem 0 1rem;
      &::before {
        content: ".05";
        left: 0;
      }
      .section-title {
        margin: 3rem 0;
      }
    }
    .banner-image {
      margin-top: 15rem;
    }
    .faq-questions-wrapper {
      .question-item {
        padding: 1.5rem 4rem 1.5rem 3rem;
        border: 2px solid $border;
        margin: 3rem 0;
        cursor: pointer;
        &.active {
          background-image: linear-gradient(to right, #f56c1d 0%, #fed154 100%);
          color: white;
        }
        .question-title {
          font-size: $font-large;
          font-weight: 500;
          letter-spacing: -0.48px;
          margin: 1.5rem 0;
          .question-number {
            margin-right: 2.5rem;
            display: inline-block;
          }
        }
        .question-answer {
          opacity: 0.8;
          max-height: 0;
          overflow: hidden;
          transition: all 0.4s;
          margin: 0;
        } 
      }
    }
  }
}

