.primary-menu-container {
  .logo {
    font-size:30px;
    font-weight: 600;
    color: white;
    margin-right: 15rem;
  }
}

.top-photo,
.top-photo-default {
  min-height: 600px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .container {
    margin-top: 15rem;
  }
  .text-banner-wrapper {
    width: 100%;
    .page-title,
    .banner-subtitle {
      color: white;
    }
    .page-title {
      font-size: 80px;
      font-weight: 700;
      padding: 0 2rem;
      margin: 3rem 0;
      @include breakpoint($screen-mmin) {
        font-size: 42px;
      }
      @include breakpoint($screen-min) {
        font-size: 27px;
      }
      @include breakpoint($screen-xsmin) {
        min-height: 400px;
        font-size: 24px;
      }
    }
    .banner-subtitle {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      padding: 0 2rem;
      @include breakpoint($screen-min) {
        font-size: 24px;
      }
      @include breakpoint($screen-xsmin) {
        font-size: 16px;
      }
    }
  }
}