
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
 justify-content: center;
}
.flex-middle {
  align-items: center;
}

.flex-full {
  width: 100%;
  padding: 0 1.5rem;
}

.flex-half {
  width: 50%;
  padding: 0 1.5rem;
}

.flex-half-box {
  width: calc(50% - 3rem);
  padding: 0 4rem;
  margin: 0 1.5rem;
  @include breakpoint($screen-mmin) {
    width: 100%;
    margin: 0 1.5rem 5rem;
  }
  @include breakpoint($screen-xsmin) {
    padding: 0 2rem;
  }
}

.flex-one-third {
  width:  33%;
  padding: 0 1.5rem;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subtitle-small {
  font-size: $font-regular;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.section-title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.8px;
  color: $black-title;
  @include breakpoint($screen-min) {
    font-size: 36px;
  }
}

.standard-button {
  border-radius: 30px;
  padding: 2.5rem 3rem;
  color: $default;
  outline: none;
  background: white;
  border: none;
  box-shadow: none;
  margin: 1rem 2rem;
  @include breakpoint($screen-min) {
    padding: 2rem;
  }
}

.submit-button {
  box-shadow: 0 16px 32px rgba(255, 225, 0, 0.4);
  background-color: $yellow;
  font-weight: 500;
  color: #070a22;
  transition: all 0.4s;
  &:hover {
    background-color: #e1f100;
  }
}

.orange-subtitle {
  color: $orange;
}

.black-title {
  color: $black-title;
}

.title-medium {
  font-size: 30px;
  font-weight: 700;
  color: $black-title;
}

.section-number {
  position: relative;
  padding: 8rem 3rem 1rem;
  &::before {
    content: "01";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    @include sectionNumber();
    @include breakpoint($screen-mmin) {
      font-size: 250px;
    }
    @include breakpoint($screen-min) {
      font-size: 190px;
    }
  }
  @include breakpoint($screen-min) {
    padding: 3rem 3rem 1rem;
  }
}

.cart-title {
  font-size: $cart-title;
  color: $black-title;
  letter-spacing: -0.84px;
  margin: 3rem 0;
}

.separation {
  font-size: $separation;
  color: $orange;
  font-family: 'nunito', sans-serif;
}

.logo {
  font-size:30px;
  font-weight: 600;
  color: white;
  margin: 2rem 15rem 2rem 0;
  @include breakpoint($screen-dmin) {
    margin: 2rem 8rem 2rem 0;
  }
}

.field-banner-top-photo,
.responsive-img-background {
  picture {
    img {
      display: none;
    }
  }
}

picture {
  img {
    max-width: 100%;
    display: block;
  }
}

