
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
 justify-content: center;
}
.flex-middle {
  align-items: center;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subtitle-small {
  font-size: $font-regular;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.section-title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.8px;
}

.standard-button {
  border-radius: 30px;
  padding: 2.5rem 3rem;
  color: $default;
  outline: none;
  background: white;
  border: none;
  box-shadow: none;
  margin: 0 2rem;
}

.submit-button {
  box-shadow: 0 16px 32px rgba(255, 225, 0, 0.4);
  background-color: $yellow;
}

.orange-subtitle {
  color: $orange;
}

.black-title {
  color: $black-title;
}

.title-medium {
  font-size: 30px;
  font-weight: 700;
  color: $black-title;
}

.section-number {
  position: relative;
  padding: 8rem 3rem 1rem;
  &::before {
    content: "01";
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    @include sectionNumber();
  }
}

.cart-title {
  font-size: $cart-title;
  color: $black-title;
  letter-spacing: -0.84px;
  margin: 3rem 0;
}

.separation {
  font-size: $separation;
  color: $orange;
  font-family: 'nunito', sans-serif;
}